.top-nav {
  background: transparent;
  color: #fff;
  position: absolute;
  width: 100%;
  top: 0;

  svg {
    fill: #fff;
  }

  ul {
    height: 5rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    @include immaFlex($align: center);

    li:nth-child(1) // LOGO
    {
    }

    li:nth-child(2) // HAMBURGER
    {
      margin-left: auto;
    }

    li:nth-child(12), // SEARCH ICON
    li:nth-child(11), // BASKETBALL
    li:nth-child(10), // FLAME
    li:nth-child(9), //  FACEBOOK
    li:nth-child(8), //  ABOUT
    li:nth-child(7), //  BOOK NOW
    li:nth-child(6), //  SIGNATURE TRIPS
    li:nth-child(5), //  SPECIALS
    li:nth-child(4), //  DESTINATIONS
    li:nth-child(3) //  LANGUAGE SELECTION
    {
      display: none;
      cursor: not-allowed;
    }
  }
}
