/* ============================================
                CONTENT
   ============================================ */

.content {
  @include mediaQ('>=desktop') {
    width: 80%;
    position: absolute;
    right: 0;
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

/* ============================================
                  BANNER
   ============================================ */
.banner {
  text-align: center;
  margin-bottom: 20rem;
  height: 100vh;
  background: linear-gradient(
      rgba($color__primary, 0.3),
      rgba($color__secondary, 0.2)
    ),
    url('../../assets/imgs/john-o-nolan-rqrv0bbzMLg-unsplash.jpg') no-repeat
      center / cover;

  font-size: 3.6rem;
  @include immaFlex($align: center, $just: center);

  h1 {
    color: #fff;
  }

  @include mediaQ('>=desktop') {
    margin-right: -15rem;
    margin-left: -15rem;
    margin-top: -10rem;
    height: 110vh;
  }
}

/* ============================================
                  INFO
   ============================================ */
.info {
  margin-bottom: 20rem;
  text-align: center;
  @include mediaQ('>=desktop') {
    text-align: left;
  }

  &__title {
    font-size: 3.2rem;
    font-weight: 900;
    margin-bottom: 4rem;

    @include mediaQ('>=desktop') {
      font-size: 6.2rem;
    }
  }

  &__sub-title {
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 4rem;
    @include mediaQ('>=desktop') {
      font-size: 3.6rem;
      max-width: 60rem;
    }
  }

  &__sub-title::after {
    content: '';
    background-color: $color__primary;
    display: block;
    height: 0.13rem;
    width: 5rem;
    margin: 3rem auto 0;

    @include mediaQ('>=desktop') {
      text-align: left;
      width: 10rem;
      margin: 3rem 1rem 0;
      height: 0.2rem;
    }
  }

  &__text {
    font-size: 1.45rem;
    margin-bottom: 4rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    @include mediaQ('>=desktop') {
      font-size: 1.65rem;
      font-weight: 600;
      letter-spacing: 0.2rem;
      line-height: 3.5rem;
    }
  }

  &__quick-facts {
    margin-top: -15rem;
    font-size: 2.8rem;
    font-style: italic;
    font-weight: 800;
    margin-bottom: 4rem;

    @include mediaQ('>=desktop') {
      font-size: 4.2rem;
    }
  }

  &__quick-facts::after {
    content: '';
    background-color: $color__primary;
    display: block;
    height: 0.05rem;
    width: 5rem;
    margin: 3rem auto 0;

    @include mediaQ('>=desktop') {
      text-align: left;
      width: 10rem;
      margin: 3rem 1rem 0;
      height: 0.2rem;
    }
  }

  &__facts {
    font-size: 1.45rem;
    margin-bottom: 2.5rem;
    color: $color__primary;

    @include mediaQ('>=desktop') {
      font-size: 2.2rem;
    }

    span:first-child {
      font-weight: 700;
      text-transform: uppercase;
      display: block;
      color: $color__primary;
    }
    span:last-child {
      font-weight: normal;
      display: block;
    }
  }

  &__btn {
    border: none;
    background-color: $color__primary;
    color: rgba(#fff, 0.85);
    padding: 1.4rem 3rem;
    font-size: 1.45rem;
    opacity: 0.9;
    cursor: not-allowed;
    text-transform: uppercase;
    font-weight: 600;

    @include mediaQ('>=desktop') {
      font-size: 2rem;
      padding: 2.4rem 6rem;
    }

    &:focus {
      outline: none;
    }
  }

  svg {
    fill: #e0e0e0;
    stroke: #fff;
  }
}

/* ============================================
                REC / RECOMMENDATION
   ============================================ */

.rec {
  margin-bottom: 20rem;
  text-align: center;
  @include mediaQ('>=desktop') {
    text-align: left;
  }

  &__img {
    background: url('../../assets/imgs/kyle-cut-media-UrhglJ-2Q8M-unsplash.jpg')
      no-repeat 95% 10% / cover;
  }

  &__img2 {
    background: url('../../assets/imgs/wade-lambert-VfdOzbZkW1w-unsplash.jpg')
      no-repeat center / cover;
  }

  &__title {
    font-size: 3.2rem;
    font-weight: 900;
    margin-bottom: 4rem;
    @include mediaQ('>=desktop') {
      font-size: 6.2rem;
    }
  }

  &__title::after {
    content: '';
    background-color: $color__primary;
    display: block;
    height: 0.13rem;
    width: 5rem;
    margin: 3rem auto 0;

    @include mediaQ('>=desktop') {
      text-align: left;
      width: 10rem;
      margin: 3rem 1rem 0;
      height: 0.2rem;
    }
  }

  &__text {
    font-size: 1.45rem;
    margin-bottom: 4rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;

    @include mediaQ('>=desktop') {
      font-size: 1.65rem;
      font-weight: 600;
      letter-spacing: 0.2rem;
      line-height: 3.5rem;
    }
  }
}

/* ============================================
                WELCOME
   ============================================ */

.welcome {
  margin-bottom: 20rem;

  text-align: center;
  @include mediaQ('>=desktop') {
    height: 72vh;
    @include immaFlex($align: center, $just: center, $dir: column);
  }

  &__title {
    font-size: 3.2rem;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 4rem;
    position: relative;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    @include mediaQ('>=tablet') {
      max-width: 48rem;
      margin-left: auto;
      margin-right: auto;
    }

    @include mediaQ('>=desktop') {
      max-width: 98rem;
      font-size: 7.5rem;
    }
  }

  &__title::before {
    content: ' ';
    background-image: url('../../assets/icons/quote.svg');
    background-size: cover;
    display: block;
    position: absolute;
    left: 1.3rem;
    top: -3rem;
    transform: rotate(180deg);
    width: 2rem;
    height: 2rem;
    @include mediaQ('>=tablet') {
      left: 0;
      top: -3rem;
      width: 5rem;
      height: 5rem;
    }
  }

  &__title::after {
    content: ' ';
    background-image: url('../../assets/icons/quote.svg');
    background-size: cover;
    width: 2rem;
    height: 2rem;
    display: block;
    position: absolute;
    right: 1.3rem;
    bottom: -3rem;
    @include mediaQ('>=tablet') {
      right: 6rem;
      bottom: -3rem;
      width: 5rem;
      height: 5rem;
    }
  }

  &__text {
    font-size: 1.45rem;
    // margin-bottom: 4rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;

    @include mediaQ('>=desktop') {
      font-size: 1.65rem;
      font-weight: 600;
      letter-spacing: 0.2rem;
      max-width: 98rem;
      line-height: 3.5rem;
    }
  }
}
