*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // DEFINES WHAT 1 REM IS E.G. 1REM === 10PX
}

body {
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.05rem;
  background-color: #fff;
  color: $color__primary;
  overflow-x: hidden;
  visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @extend %f-open;
}

p {
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %f-play;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

::selection {
}

::-webkit-scrollbar-track {
}
